<div *ngIf="theme">

  <div class="row">
    <div class="col-sm-3">
      <h3 *ngIf="canWriteInLimitTime()">
        <ng-container *ngFor="let remaining of postItsRemaining">
          <span class="fa fa-sticky-note-o"></span>
        </ng-container>
      </h3>
    </div>
    <div class="col-sm-6">
      <h3 align="center">
        <span *ngIf="!canWriteInLimitTime()" (click)="lockUnLockBoard()" class="btn fa" [ngClass]="getLockClass()"> Board</span>
        <span *ngIf="canWriteInLimitTime()" class="fa fa-hourglass">{{displayTimer()}}</span>
        Point Of View (Not visible)
      </h3>
    </div>
  </div>

  <div class="row" *ngIf="theme?.boards">

    <div class="col-sm-6 alert" [ngClass]="[board.likable ? 'alert-danger' : 'alert-primary', i == theme.boards.length - 1 && i%2==0 ? 'col-sm-12': 'col-sm-6']"
         role="alert" *ngFor="let board of theme.boards, index as i">
      <h5 class="card-title">{{board.type}}
        <button type="button" *ngIf="canAddNewPostIt() && canWriteInLimitTime()" class="btn btn-light" (click)="addPostItComment(board.type)">+</button>
      </h5>
      <ul class="rack-board list-group list-group-flush">
        <ng-container *ngFor="let postItComment of getPostItComments(board.type);">
          <mle-post-it-hidden (completeOnShowAction)="removePostIt($event)"
                              (closeOnAction)="removePostIt(postItComment)"
                              (changeValueAction)="saveLocalPostIt()"
                              [lockPostIt]="lockBoard"
                              [postIt]="postItComment"
                              [writeable]="canWriteInLimitTime()">
          </mle-post-it-hidden>
          <a href="#" class="close"></a>
        </ng-container>

      </ul>
    </div>
  </div>
</div>
