<div *ngIf="theme">
  <h3 align="center">
    <span (click)="lockUnLockBoard()" class="btn fa" [ngClass]="getLockClass()"> Board</span> Point Of View (Not visible)
    <span class="fa fa-hourglass">{{displayTimer()}}</span>
  </h3>
  <div class="row" *ngIf="boards">

    <div class="col-sm-6 alert" [ngClass]="[board.likable ? 'alert-danger' : 'alert-primary', i == boards.length - 1 && i%2==0 ? 'col-sm-12': 'col-sm-6']"
         role="alert" *ngFor="let board of boards, index as i">
      <h5 class="card-title">{{board.type}} <button type="button" *ngIf="isCanWriteInLimitTime()" class="btn btn-light" (click)="addPostItComment(board.type)">+</button></h5>
      <ul class="rack-board list-group list-group-flush">
        <mle-post-it-hidden *ngFor="let postItComment of getPostItComments(board.type);"
                            (completeOnShowAction)="removePostIt($event)"
                            [lockPostIt]="lockBoard"
                            [postIt]="postItComment"
                            [writeable]="isCanWriteInLimitTime()">
        </mle-post-it-hidden>
      </ul>
    </div>
  </div>
</div>
