<h3 align="center">Point Of View (Not visible)</h3>
<div class="row">
  <div class=" col-sm alert alert-primary" role="alert">
    <h5 class="card-title">Good <button type="button" class="btn btn-light" (click)="addPostItComment('GOOD')">+</button></h5>

    <ul class="rack-board list-group list-group-flush">
      <mle-post-it-hidden *ngFor="let postItComment of getPostItComments('GOOD'); index as i;"
                          (completeOnShowAction)="removePostIt($event)"
                          [postIt]="postItComment">
      </mle-post-it-hidden>
    </ul>

  </div>

  <div class="rack-board col-sm alert alert-dark" role="alert">
    <h5 class="card-title">Keep <button type="button" class="btn btn-light" (click)="addPostItComment('KEEP')">+</button></h5>

    <ul class="list-group list-group-flush">
      <mle-post-it-hidden *ngFor="let postItComment of getPostItComments('KEEP'); index as i;"
                          (completeOnShowAction)="removePostIt($event)"
                          [postIt]="postItComment">
      </mle-post-it-hidden>
    </ul>
  </div>

  <div class="rack-board col-sm alert alert-warning" role="alert">
    <h5 class="card-title">Bad <button type="button" class="btn btn-light" (click)="addPostItComment('BAD')">+</button></h5>

    <ul class="list-group list-group-flush">
      <mle-post-it-hidden *ngFor="let postItComment of getPostItComments('BAD'); index as i;"
                          (completeOnShowAction)="removePostIt($event)"
                          [postIt]="postItComment">
      </mle-post-it-hidden>
    </ul>
  </div>
</div>
