<h1 align="center">
  <fa name="refresh" (click)="refresh()" class="btn btn-success"></fa>
  Retro
  <fa name="file" (click)="exportLowCost()" class="btn btn-secondary"></fa>
</h1>
<div class="row">
  <mle-drawer-board class="col-sm alert alert-primary"
                    [type]="'GOOD'" [postIts]="getPostItComments('GOOD')">
  </mle-drawer-board>

  <mle-drawer-board class="col-sm alert alert-dark"
                    [type]="'KEEP'" [postIts]="getPostItComments('KEEP')">
  </mle-drawer-board>

  <div class="col-sm alert alert-warning" role="alert">
    <h5 class="card-title">Bad</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let postIt of getPostItComments('BAD'); index as i;">
        {{postIt.comment}}
        <button *ngIf="!this.export" (click)="voteUpPostIt('BAD', postIt.id)">Like # {{postIt.vote}}</button>
      </li>
    </ul>
  </div>
</div>
