<h1 align="center">Retro<button (click)="refresh()">Refresh</button></h1>
<div class="row">
  <div class="col-sm alert alert-primary" role="alert">
    <h5 class="card-title">Good</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let postIt of getPostItComments('GOOD'); index as i;">
        {{postIt.comment}}
        <button (click)="voteUpPostIt(postIt.id)">Like # {{postIt.vote}}</button>
        <button (click)="removeVotePostIt(postIt.id)">Remove Like</button>
      </li>
    </ul>
  </div>


  <div class="col-sm alert alert-dark" role="alert">
    <h5 class="card-title">Keep</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let postIt of getPostItComments('KEEP'); index as i;">
        {{postIt.comment}}
      </li>
    </ul>
  </div>

  <div class="col-sm alert alert-warning" role="alert">
    <h5 class="card-title">Bad</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let postIt of getPostItComments('BAD'); index as i;">
        {{postIt.comment}}
      </li>
    </ul>
  </div>
</div>
