<h1 align="center">
  <span (click)="refresh()" class="btn btn-success fa fa-refresh"></span>
  Retro
  <span (click)="exportLowCost()" class="btn btn-secondary fa fa-file"></span>
</h1>
<div class="row" *ngIf="boards">

  <div *ngFor="let board of boards" class="col-sm-6 alert alert-primary" [ngClass]="board.likable ? 'alert-danger' : 'alert-primary'">
    <h5 class="card-title">{{board.type}}</h5>

    <ul class="rack-board list-group list-group-flush">
      <mle-post-it-on-board *ngFor="let postIt of getPostItComments(board.type); index as i;"
                            [postIt]="postIt">
          <ng-container *ngIf="board.likable">
             <span (click)="voteUpPostIt(board.type, postIt.id)"
                   class="btn badge badge-primary fa fa-thumbs-up"> {{postIt.vote}}</span>
          </ng-container>
        <mle-link *ngIf="postIt.linkedPostIts.length === 0 && isAllowedToLinkPostIt()" (click)="openModalToLink(postIt)" data-toggle="modal" data-target="#linkModal"></mle-link>
      </mle-post-it-on-board>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="linkModalLabel">Choose post type {{getPostItLinkType()}} to link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="rack-board list-group list-group-flush">
          <ng-container *ngFor="let postIt of getPostItToLink(); index as i;">
            <li class="list-group-item" *ngIf="postIt != this.getSelectedPostItWantedToLink()">
              <span (click)="linkToParent(postIt)" data-dismiss="modal" class="btn btn-success fa fa-link"></span> {{postIt.comment}}
            </li>
          </ng-container>

        </ul>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
