<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-themes-manager-tab" data-toggle="tab" href="#nav-themes-manager" role="tab" aria-controls="nav-home" aria-selected="true">Themes Manager</a>
    <a class="nav-item nav-link" id="nav-boards-manager-tab" data-toggle="tab" href="#nav-boards-manager" role="tab" aria-controls="nav-profile" aria-selected="false">Boards Manager</a>
  </div>
</nav>
<br/>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-themes-manager" role="tabpanel" aria-labelledby="nav-themes-manager-tab">
    <mle-themes-manager></mle-themes-manager>
  </div>
  <div class="tab-pane fade" id="nav-boards-manager" role="tabpanel" aria-labelledby="nav-boards-manager-tab">
    <span (click)="resetAllPostIts()" class="btn btn-danger fa fa-trash"> Reset All Post Its </span><br/><br/>
    <span (click)="resetAllVotes()" class="btn btn-danger fa fa-trash"> Reset All Votes</span>
  </div>
</div>
