<h1 align="center">
  <span (click)="refresh()" class="btn btn-success fa fa-refresh"></span>
  Retro
  <span (click)="exportLowCost()" class="btn btn-secondary fa fa-file"></span>
</h1>
<div class="row">
  <div class="col-sm alert alert-primary card">
    <h5 class="card-title">GOOD</h5>

    <ul class="rack-board list-group list-group-flush">
      <mle-post-it-on-board *ngFor="let postIt of getPostItComments('GOOD'); index as i;"
                            [postIt]="postIt">
      </mle-post-it-on-board>
    </ul>
  </div>

  <div class="col-sm alert alert-dark">
    <h5 class="card-title">KEEP</h5>

    <ul class="rack-board list-group list-group-flush">
      <mle-post-it-on-board *ngFor="let postIt of getPostItComments('KEEP'); index as i;"
                            [postIt]="postIt">
      </mle-post-it-on-board>
    </ul>
  </div>

  <div class="col-sm alert alert-warning" role="alert">
    <h5 class="card-title">Bad</h5>
    <ul class="rack-board list-group list-group-flush">
      <mle-post-it-on-board *ngFor="let postIt of getPostItComments('BAD'); index as i;"
                            [postIt]="postIt">
        <ng-container *ngIf="!this.export">
          <span (click)="voteUpPostIt('BAD', postIt.id)"
                class="btn badge badge-primary fa fa-thumbs-up"> {{postIt.vote}}</span>
          <!--<span class="btn fa fa-thumbs-down"></span>-->
        </ng-container>
      </mle-post-it-on-board>
    </ul>
  </div>
</div>
